section {
	height: 100vh;
	background: url(https://sun9-32.userapi.com/impg/CiUGBo7uo-1Wo8VHyQ6hgwRpz4-azS9yvoh_nA/azEZgnYpkrA.jpg?size=1280x579&quality=96&sign=5b93a2ea55c12d903713334b26580177&type=album);
	background-size: cover;
	background-repeat: no-repeat;
  background-position: center center;
  z-index: 100;
}
nav {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .logo-box {
    float: left;
    margin-left: 5px;
    width: 1px;
  }
  .logo {
    margin-top: -15px;
  }
  ul {
    font-family: 'monserrat';
    list-style: none;
    float: right;
    line-height: 30px;
    text-align:center;
    width: 100%;
  }
  a {
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  li a {
    color: #98ff98;
    text-transform: uppercase;
  }
  li {
    display: inline-block;
    margin-left: 35px;
    margin-right: 40px;
    transition: .5s linear;
  }
  li:nth-last-child(1){
    border: 1px solid #A1FFC1;
    border-radius: 10px;
    background-color: #A1FFC1;
    height: 30px;
    width: 200px;
  }
  li a:nth-child(-n+3)::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #A1FFC1;
    transition: all 0.5s linear;  
  }
  li a:hover:after{
    width: 100%;
  }
  @media screen and (max-width:574px) {
    .logo-box {
      float: none;
      margin: 0 auto;
    }
    ul {
      float: none;
      margin: 0 25px;
      }
   li:first-of-type {margin-left:0}
  }
  
  @media screen and (max-width:493px) {
  nav {
    overflow: visible
  }
  ul {
    height: auto;
    margin: 25px 25px 0 25px;
    line-height: 50px;
  }
  li {
    display: block;
    margin: 0;
  }
  li:hover {
    background: rgba(0,0,0,.1)
  }
  li a:after {
    content: none;
  }
  }
 h1{
  text-align: center;
  font-size: 46px;
  font-weight: 400;
  margin-top: 18%;
  font-family: 'Metrophobic' sans-serif;
  text-shadow: 1.5px 1.5px 1.5px white;
 }
 h2{
   text-align: center;
   font-size: 30px;
  font-weight: 400;
  font-family: 'Metrophobic' sans-serif;
  text-shadow: 1.5px 1.5px 1.5px white;
 }

/*-------------------------------------------MENU OVER--------------------------------------*/
.chatBot{
  width: 45px;
  height: 45px;
  border: 0 solid #ffffff;
  border-radius: 50%;
  position: fixed;
  opacity: 1;
  display: inline-block;
  right: 2%;
  bottom: 5%;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.chatBot:hover{
  animation: bounce 1s;
}